/* Root */
:root {
  --white: rgb(255, 255, 255);
}
/* Banner Content */
.title{
  font-size: 50px !important;
  line-height: 1.2 !important;
  color: var(--white) !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
}
.subTitle{
  font-size: 30px !important;
  line-height: 1.2 !important;
  color: var(--white);
  font-weight: 400 !important;
  letter-spacing: 0 !important;
}



/* Media Query */
@media only screen and (max-width: 991px){
  .title{
    font-size: 40px !important;
  }
  .subTitle{
    font-size: 25px !important;
  }
}
@media only screen and (max-width: 768px){
  .title{
    font-size: 35px !important;
  }
  .subTitle{
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 551px){
  .title{
    font-size: 30px !important;
  }
  .subTitle{
    font-size: 16px !important;
  }
  .bannerBtn{
    padding: 8px 12px;
  }
}