/* Root */
:root {
  --gray-white: #e7e6e6;
  --cyan-blue: #212934;
  --red: #d23b32;
  --tuna: #4a4e57;
}
/* Contact Area */
/* Title Area */
.title{
  font-size: 40px !important;
  line-height: 1.2 !important;
  color: var(--cyan-blue);
  font-weight: 500 !important;
}
.titleLeft, .titleRight{
  position: relative;
  height: 6px;
  flex-grow: 1;
}
.titleSep {
  position: relative;
  display: block;
  width: 100%;
  border-style: solid;
  border: 0 solid var(--gray-white);
  box-sizing: content-box;
  height: 6px;
  border-bottom-width: 1px;
  border-top-width: 1px;
}

.pra{
  text-align: left !important;
  color: var(--tuna);
  line-height: 1.8 !important;
  font-size: 16px !important;
  font-weight: 400;
  margin: 0 0 20px;
}

/* Form Area */
input, textarea{
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #FFFFFF;
  font-size: 16px;
  color: #9ea0a4;
}
textarea {
  height: 150px;
  resize: none;
}
input[type="submit"]{
  width: min-content;
  cursor: pointer;
}
.contactUl {
  margin: 10px 0 0;
  padding-left: 30px !important;
}
.contactUl > li {
  font-size: 21px !important;
  line-height: 35.7px !important;
  color: var(--tuna);
  padding: 5.5px 0 !important;
  margin-left: 0 !important;
}
.link{
  color: var(--tuna);
  font-size: 21px !important;
  line-height: 35.7px !important;
  transition: 0.2s;
}
.link:hover{
  color: var(--red);
}