/* Fonts */
/* Zilla Slab Font */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
/* Root */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Zilla Slab', serif !important;
}
a{
  text-decoration: none;
  cursor: pointer !important;
}
ul{
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}
/* Navigationbar */
.css-1t29gy6-MuiToolbar-root{
  padding: 0 !important;
}
.navMenu{
  color: #212934 !important;
  transition: 0.2s;
  font-size: 14px !important;
  letter-spacing: 0 !important;
  margin-left: 20px !important;
}
.navMenu:hover{
  color: #cf2e2e !important;
}
.title_header {
	position: relative;
	text-align: center;
	color: white;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.starter_text {
	text-align: start;
}

hr.style-eight {
	overflow: visible;
	/* For IE */
	padding: 0;
	border: none;
	border-top: medium double rgb(194, 17, 17);
	color: #333;
	text-align: center;
	margin: 20px 0;
}

hr.style-eight:after {
	content: "♦";
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
	background: rgb(255, 255, 255);
}

/* Banner Area */
.slick-prev, .slick-next{
	width: 63px !important;
    height: 63px !important;
    line-height: 63px !important;
		background-color: rgba(0,0,0,.5) !important;
		font-size: 25px !important;
		display: none !important;
		transition: 0.2s;
}
.bannerMainArea:hover .slick-prev, .bannerMainArea:hover .slick-next {
	display: block !important;
}
.slick-next {
	right: 0px !important;
}
.slick-prev {
	left: 0px !important;
	z-index: 9999!important;
}
.slick-next:before {
	content: '>' !important;
	font-family: awb-icons;
}
.slick-prev:before {
	content: '<' !important;
	font-family: awb-icons;
}
.slick-prev:before, .slick-next:before {
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: #fff !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}